          div#checkbox-values-saved {
	    padding: 20px 0 ;
		  }
        div#formInputsContainer {
           width: 100%;
           overflow-x: scroll;
           }
     .checkboxes-container {
          width: auto !important;
          float: unset !important;
          padding: 25px 10px 0 0;
          }
    div#formCheckboxContainer {
        padding: 30px 0;
       display: flex !important;
       flex-wrap: wrap;
       float: unset !important;
       justify-content: space-between;
       align-items: center;
   }
    div#formInputsContainer .row div {
	  border-bottom: 1px solid #726464;
          padding: 10px 0  !important;
	  width: 100%; 
                         }
   .inner-content label,div#formCheckboxContainer label{
	font-weight:bold;
				
	}
   .inner-content input{
	padding:5px;
    }
   .inner-content {
      border: none !important;
      width: 29% !important;
      float: unset !important;
      }
   div#formCheckboxContainer {
      display: block;
      width: 100%;
      float: left;
  }
   .postbox .inside {
      font-size: 12px !important;
  }
		