#kobo-map{height: 800px;}
.leaflet-popup-content{overflow: auto;max-height: 400px;width: 600px !important;max-width: calc(100vw - 100px);}
.if-you-need-div img{width: 100%;height: auto;}
.if-you-need-div video { height: 300px; width: 100%;}
.if-you-need-div button {padding: 15px;width: 90%;margin: 0 0 18px 3%;color: #fff;background-color: #b10a0a;border: 1px solid #b10a0a;}

div#checkbox-values-saved {
    padding: 20px 0;
}
.if-you-need-div table tr td:nth-child(1) {
			font-weight: bold;
}
		}